
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #96EFFF;
}


header {
    background-color:  #8e24aa;
    padding: 20px;
    text-align: left;
}


.navbar {
    overflow: hidden;
    background-color: #8e24aa;
}
nav abbr {
    background-color: #8e24aa;
}
.navbar a {
    float: left;
    display: block;
    color: #7B66FF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #8e24aa;
}

.navbar a:hover {
    background-color:  #7B66FF;
    color: black;
}

.navbar a.active {
    background-color: #7B66FF;
    color: #7B66FF;
}


.main {
    padding: 20px;
}


.footer {
    background-color:  #8e24aa;
    padding: 20px;
    text-align: center;
}


.product-container {
    background-color: #5FBDFF;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 10px;
    position: relative;

}
.product-img {
    display: block;
}
.product-btn {
    position: absolute;
    top: 80%;
    left: 40%;
    transform: translateX(90%);
    margin-top: 8px;
}
.product-container h2 {
    margin-bottom: 10px;
}

.product-container p {
    margin-bottom: 20px;
}

.product-btn {
    margin-bottom: 20px;
}

.navbar-custom {
    background-color: #7B66FF;
    color: #fff;
   }
   .main{
    background-color: #96EFFF;
   }
   .contact form button {
    display: block;
    width: 100%;
    padding: 10px;
   
}
.contact form button {
    
    background-color: #5FBDFF;
    color: white;
    border: none;
    cursor: pointer;
}
